:root {
  --blue1: #f2f3ff;
  --blue3: #b5c7ff;
  --blue5: #618dff;
  --blue7: #0052d9;
  --blue9: #002a7c;

  --red1: #fff0ed;
  --red3: #ffb9b0;
  --red5: #f6685d;
  --red7: #ad352f;
  --red9: #68070a;

  --orange1: #fff1e9;
  --orange3: #ffb98c;
  --orange5: #e37318;
  --orange7: #954500;
  --orange9: #532300;

  --green1: #e3f9e9;
  --green3: #92dab2;
  --green5: #2ba471;
  --green7: #006c45;
  --green9: #003b23;
  
  --gray2: #eeeeee;
  --gray4: #dddddd;
  --gray6: #a6a6a6;
  --gray8: #777777;
  --gray10: #4b4b4b;
  --gray12: #2c2c2c;
  --gray14: #181818;

  --cyan1: #e8f5ff;
  --cyan3: #85d3ff;
  --cyan5: #029cd4;
  --cyan7: #00668e;
  --cyan9: #003850;

  --purple1: #fbf0ff;
  --purple3: #dcbfff;
  --purple5: #ad75fe;
  --purple7: #7137bf;
  --purple9: #3b007b;

  --yellow1: #fff5e4;
  --yellow3: #ffd36d;
  --yellow5: #d8a100;
  --yellow7: #8b6600;
  --yellow9: #443000;

  --pink1: #fff0f6;
  --pink3: #ffaedc;
  --pink5: #e851b3;
  --pink7: #a12279;
  --pink9: #610046;

  --border-narrow: 1px;
  --border-default: 2px;
  --border-bough: 5px;

  --radius-small: 4px;
  --radius-default: 8px;
  --radius-large: 10px;
  --radius-round: 50%;

  --padding-small: 5px;
  --padding-default: 8px;
  --padding-large: 10px;
  --padding-max: 20px;

  --margin-small: 5px;
  --margin-default: 10px;
  --margin-large: 20px;

  --font-small: 12px;
  --font-default: 14px;
  --font-large: 16px;
  --font-max: 18px;

  --line-height: 1;
  --height-small: 20px;
  --height-default: 30px;
  --height-large: 40px;
  --height-max: 60px;
}

::-webkit-scrollbar-track {
    /* background: transparent; */
    background-color: #0d152c;
}

::-webkit-scrollbar {
    /* width: 8px;
    height: 8px; */
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}