:root {
  --blue1: #f2f3ff;
  --blue3: #b5c7ff;
  --blue5: #618dff;
  --blue7: #0052d9;
  --blue9: #002a7c;

  --red1: #fff0ed;
  --red3: #ffb9b0;
  --red5: #f6685d;
  --red7: #ad352f;
  --red9: #68070a;

  --orange1: #fff1e9;
  --orange3: #ffb98c;
  --orange5: #e37318;
  --orange7: #954500;
  --orange9: #532300;

  --green1: #e3f9e9;
  --green3: #92dab2;
  --green5: #2ba471;
  --green7: #006c45;
  --green9: #003b23;
  
  --gray2: #eeeeee;
  --gray4: #dddddd;
  --gray6: #a6a6a6;
  --gray8: #777777;
  --gray10: #4b4b4b;
  --gray12: #2c2c2c;
  --gray14: #181818;

  --cyan1: #e8f5ff;
  --cyan3: #85d3ff;
  --cyan5: #029cd4;
  --cyan7: #00668e;
  --cyan9: #003850;

  --purple1: #fbf0ff;
  --purple3: #dcbfff;
  --purple5: #ad75fe;
  --purple7: #7137bf;
  --purple9: #3b007b;

  --yellow1: #fff5e4;
  --yellow3: #ffd36d;
  --yellow5: #d8a100;
  --yellow7: #8b6600;
  --yellow9: #443000;

  --pink1: #fff0f6;
  --pink3: #ffaedc;
  --pink5: #e851b3;
  --pink7: #a12279;
  --pink9: #610046;

  --border-narrow: 1px;
  --border-default: 2px;
  --border-bough: 5px;

  --radius-small: 4px;
  --radius-default: 8px;
  --radius-large: 12px;
  --radius-max: 16px;
  --radius-round: 50%;

  --padding-small: 5px;
  --padding-default: 8px;
  --padding-large: 10px;
  --padding-max: 20px;

  --margin-small: 5px;
  --margin-default: 10px;
  --margin-large: 20px;
  --margin-max: 40px;

  --font-small: 12px;
  --font-default: 14px;
  --font-large: 16px;
  --font-huge: 18px;
  --font-max: 20px;

  --line-height: 1;
  --height-small: 20px;
  --height-default: 40px;
  --height-large: 60px;
  --height-huge: 120px;
  --height-max: 200px;

  --width-small: 30px;
  --width-default: 60px;
  --width-large: 120px;
  --width-huge: 200px;
  --width-max: 280px;

  --blur-small: 3px;
  --blur-default: 5px;
  --blur-large: 10px;
  --blur-max: 20px;

  --zane-card-height: calc(2*var(--height-huge)); /*240px*/
  --zane-card-width: var(--width-max); /*280px*/
  --zane-card-bgc: rgba(255,255,255,0.84); /*浅色模式*/
  --zane-card-bd-filter: blur(var(--blur-default)); /*blur(5px)*/
  --zane-card-cover-bgc: rgba(255,255,255,0.2);
  --zane-dark-card-bgc: rgba(160,160,160,0.16);
  --zane-dark-cover-bgc: rgba(0,0,0,0.4);

  --min-width: 328px;
}

/**
 * 滚动条相关样式
 */
::-webkit-scrollbar-track {
    /* background: transparent; */
    background-color: #0d152c;
}
::-webkit-scrollbar {
    /* width: 8px;
    height: 8px; */
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

/**
 * 自定义字体（得意黑）
 */
 @font-face {
    font-family: "SmileySans";
    src:
      /* url("./assets/fonts/SmileySans-Oblique.ttf.woff2") format("woff2"), */
      url("./assets/fonts/SmileySans-Oblique.otf.woff2") format("woff2");
  }
/**
 * 内小边距
 */
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-{
    padding: var(--font-default);
}
/**
 * 上小边距
 */
.m-t-5{
    margin-top: 5px;
}
.m-t-10{
    margin-top: 10px;
}
.m-t{
    margin-top: var(--font-default);
}
.m-t-20{
    margin-top: 20px;
}

/**
 * 右小边距
 */
 .m-r-5{
    margin-right: 5px;
 }
 .m-r-10{
    margin-right: 10px;
 }
 .m-r{
    margin-right: var(--font-default);
 }

/**
 * 左小边距
 */
 .m-l-5{
    margin-left: 5px;
 }
 .m-l-10{
    margin-left: 10px;
 }
 .m-l{
    margin-left: var(--font-default);
 }
/**
 * 下小边距
 */
.m-b-5{
    margin-bottom: 5px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-b{
    margin-bottom: var(--font-default);
}
.m-b-20{
    margin-bottom: 20px;
}